body {
    background-color: #050505;
    color: #ddd;
}

.hidden {
    visibility: hidden;
}

.page {
    opacity: 0;
    font-weight: 300;
    font-size: 20pt;
}

#content, #checkage {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    text-align: center;
}

#gamemenu {
    list-style-type: none;
    position: fixed;
}

#gamemenu li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.blog_post {
    text-align: left;
    position: relative;
}

.blog_title {
    padding: 15px;
    cursor: pointer;
}

.blog_body {
    font-size: 18pt;
    padding-left: 30px;
    overflow: hidden;
}

hr {
    height: 1px;
    border: 0;
    background: #eee;
    background-image: -webkit-linear-gradient(left, #111, #ddd, #111);
    background-image:    -moz-linear-gradient(left, #111, #ddd, #111);
    background-image:     -ms-linear-gradient(left, #111, #ddd, #111);
    background-image:      -o-linear-gradient(left, #111, #ddd, #111);
}
