---
layout: basic
title: Index
---
<!DOCTYPE html>
<html>
<head>
    <title>Silent Ponyville</title>

    <link rel="stylesheet" href="css/opensans.css" type='text/css' />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lte IE 8]><script src="script/jquery-1.11.1.min.js"></script><![endif]-->
    <!--[if !IE]><!--><script src="script/jquery-2.1.1.min.js"></script><!--<![endif]-->
    <script src="script/jquery.transit.min.js"></script>

    <script src="script/script.js"></script>
</head>

<body>

    <div id="content" class="hidden">
        <img id="logo" src="img/sp2_grey.png" alt="Silent Ponyville" />
        <ul id="gamemenu">
            <li page="about">ABOUT</li>
            <li page="blog">BLOG</li>
            <li page="contact">CONTACT</li>
            <li page="download">DOWNLOAD</li>
        </ul>

        <div id="about" class="page">
            <div class="innerpage">
                A survival horror video game
            </div>
        </div>

        <div id="contact" class="page">
            <div class="innerpage">
                <div class="contactinfos">
                    <a href="https://www.facebook.com/SilentPonyvilleGame"><img class="contactme" src="img/fb.png" alt="Facebook" /></a>
                    <a href="https://twitter.com/SilentPonyville"><img class="contactme" src="img/twitter.png" alt="Twitter" /></a>
                    <a href="http://silentponyvillegame.tumblr.com/"><img class="contactme" src="img/fb-tumblr.png" alt="Tumblr" /></a>
                    <a href="https://www.youtube.com/user/SilentPonyville"><img class="contactme" src="img/youtube.png" alt="Youtube" /></a>
                </div>
            </div>
        </div>

        <div id="download" class="page">
            <div class="innerpage">
                <p>This game is currently in-dev, and at this stage, we cannot offer any download links.</p>
                <br /><br />
                <p>Don't worry though!
                <br /><br />
                We are working as fast as we can to finish this game! Without sacrificing quality, of course ^^</p>
            </div>
        </div>

        <div id="blog" class="page">
            <div class="innerpage">
                {% assign blog_id = 0 %}
                {% assign first_post = true %}
                {% for post in site.posts %}
                    {% if first_post %}
                        {% assign first_post = false %}
                    {% else %}
                        <hr />
                    {% endif %}
                    <div class="blog_post" id="bp_{{ blog_id }}">
                        <div class="blog_title" id="bt_{{ blog_id }}">{{ post.title }}</div>
                        <div class="blog_body" id="bb_{{ blog_id }}">{{ post.content }}</div>
                    </div>
                    {% capture blog_id %}{{ blog_id | plus: 1 }}{% endcapture %}
                    {% if first_post %}
                        {% assign first_post = false %}
                    {% else %}
                        <hr />
                    {% endif %}
                    <div class="blog_post" id="bp_{{ blog_id }}">
                        <div class="blog_title" id="bt_{{ blog_id }}">{{ post.title }}</div>
                        <div class="blog_body" id="bb_{{ blog_id }}">{{ post.content }}</div>
                    </div>
                    {% capture blog_id %}{{ blog_id | plus: 1 }}{% endcapture %}
                    {% if first_post %}
                        {% assign first_post = false %}
                    {% else %}
                        <hr />
                    {% endif %}
                    <div class="blog_post" id="bp_{{ blog_id }}">
                        <div class="blog_title" id="bt_{{ blog_id }}">{{ post.title }}</div>
                        <div class="blog_body" id="bb_{{ blog_id }}">{{ post.content }}</div>
                    </div>
                    {% capture blog_id %}{{ blog_id | plus: 1 }}{% endcapture %}
                    {% if first_post %}
                        {% assign first_post = false %}
                    {% else %}
                        <hr />
                    {% endif %}
                    <div class="blog_post" id="bp_{{ blog_id }}">
                        <div class="blog_title" id="bt_{{ blog_id }}">{{ post.title }}</div>
                        <div class="blog_body" id="bb_{{ blog_id }}">{{ post.content }}</div>
                    </div>
                    {% capture blog_id %}{{ blog_id | plus: 1 }}{% endcapture %}
                    {% if first_post %}
                        {% assign first_post = false %}
                    {% else %}
                        <hr />
                    {% endif %}
                    <div class="blog_post" id="bp_{{ blog_id }}">
                        <div class="blog_title" id="bt_{{ blog_id }}">{{ post.title }}</div>
                        <div class="blog_body" id="bb_{{ blog_id }}">{{ post.content }}</div>
                    </div>
                    {% capture blog_id %}{{ blog_id | plus: 1 }}{% endcapture %}
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
